In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import csv
pd.options.display.max_rows = 100

In [3]:

# folder path
dir_path = r'D:\Personal_projects\Excel_Data_Extractor\new bills'

# list to store files
res = []

# Iterate directory
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        print(path)
    res.append(path)

D K Cyber , दानापुर ,9572984174.xlsx
M.K कटिहार , 9971835200.xlsx
Md हारून  , किसंघंज ,.xlsx
MKS, कटिहार , 9971835200.xlsx
new (27).xlsx
new (38).xlsx
NEW (4).xlsx
new (5).xlsx
new (58).xlsx
new (7).xlsx
new (9).xlsx
OP निराला, नागालैंड , 7909076290.xlsx
text.txt
TULIP, गोला रोड , 9122494251.xlsx
अखलेश चौधरी , खातिहिया , 9472253217.xlsx
अजय , लोहानीपुर , 9709601175.xlsx
अजय कुमार , चातिस्घर , 8120844876.xlsx
अजय कुमार , बकर्घंज  9835455600.xlsx
अजय शाह , मुजफ्फरपुर , 9955323470.xlsx
अजित कुमार  , बोरिंग रोड , 8578919182 - Copy.xlsx
अजित कुमार गुप्ता , बकरघंज , 9905024485.xlsx
अनिल कुमार , कुर्थुँल , 9709725103.xlsx
अनिल चौरसिया , घटारो , 9939482448.xlsx
अमन कुमार साह , कटिहार , 7004536454.xlsx
अमरजीत , राजेंद्र नगर , 8235150627.xlsx
अमित   कुमार   बेऊर.xlsx
अमित , मालिया महा देव.xlsx
अरुण कुमार , कराय परुरै ,9801311121.xlsx
अशोक , कटिहार , 9576315725.xlsx
अशोक , बोरिंग रोड , 7549937223.xlsx
अशोक जी , आलम नगर , 7631795152.xlsx
आजाद चौधाहरी , बोरिंग रोड , 8578919182.xlsx
आदित्य , भूतनाथ , 6202834473.xlsx
आनंद , रजा बाज़ार , 9431647277.xlsx
आर्य , भूतनाथ , 79919125865.xlsx
आर्यन कुमार, बरिया , 8540877625.xlsx
आशीष कुमार   पूर्णिया   8539903793.xlsx
उपेंदर , चंडी , 8581876597.xlsx
उपेंदर, चंडी.xlsx
कन्हाई कुमार , कंकर्बघ ईस्ट इंद्रा नगर , 7352235330.xlsx
काजल कुमारी , बरिया  9366687816.xlsx
किशना पाठक    ,   गोसय टोला   , 8210671131 - Copy.xlsx
कुञ्ज बिहारी , हिलसा , 9304245903.xlsx
कृष्णा केसरी , बजरंगी पूरी , 8210531678.xlsx

In [7]:

APP_PATH = 'D:\Personal_projects\Excel_Data_Extractor'

df1 = pd.read_excel(
     os.path.join(APP_PATH, "new bills", 'उपेंदर, चंडी.xlsx'),
     engine='openpyxl')

In [8]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Party :,NaN,NaN,"उपेंदर, चंडी",NaN,NaN,NaN,NaN,NaN
1,NaN,Code No.,NaN,ITEM,NaN,VARIANT,QTY,PRICE,TOTAL
2,NaN,NaN,1,सरस्वती आईटम,NaN,NaN,NaN,NaN,NaN
3,0,B1,नo.,सरस्वती,NaN,मार्वल,NaN,22,22
4,0,B1,नo.,सरस्वती,NaN,ST,NaN,22,22

In [9]:
df1.tail(100)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
1901,10,CK2,नo.,02- सिंघासन -3,गुटका,मीना,NaN,9.3,9.3
1902,10,CK3,नo.,कमल गुटका -3,गुटका,मीना,NaN,10,10
1903,11,CK4,नo.,AB 70 - सिंघासन -3,प्लेट,मीना,12,7,84
1904,12,CK5,नo.,हाथी चूहा - गोल -4,गुटका,मीना,3,16.5,49.5
1905,12,CK6,नo.,अप्पू सिंघासन -4,गुटका,मीना,NaN,18.35,18.35
1906,12,CK7,नo.,107 नो. सिंघासन -4,गुटका,मीना,NaN,20,20
1907,12,CK8,नo.,3 घोड़ा छोटा -4,गुटका,मीना,NaN,18,18
1908,12,CK10,नo.,दाना प्लेट क्रिया -3,प्लेट,मीना,NaN,8,8
1909,13,CK11,नo.,उल्लू प्लेट छोटा -2,प्लेट,मीना,12,10,120
1910,13,CK12,नo.,AO-5-2,प्लेट,मीना,NaN,11.5,11.5
1911,13,CK13,नo.,गोला दाना प्लेट -2,प्लेट,मीना,NaN,12,12
1912,13,CK14,नo.,05-नो. क्रिया प्लेट -4,प्लेट,मीना,NaN,7.25,7.25
1913,13,CK15,नo.,07-नो. क्रिया -4,प्लेट,मीना,NaN,8,8
1914,13,CK16,नo.,पगड़ी प्लेट -4,प्लेट,मीना,NaN,12,12
1915,14,CK17,नo.,छोटा कंगारू -4,प्लेट,मीना,24,9,216
1916,14,CK18,नo.,उल्लू प्लेट -4,प्लेट,मीना,NaN,12,12
1917,14,CK19,नo.,कलश प्लेट -2,प्लेट,मीना,NaN,12.5,12.5
1918,14,CK20,नo.,A-71 नो. प्लेट -2,प्लेट,मीना,NaN,16,16
1919,14,CK21,नo.,चुंदरी प्लेट -2,प्लेट,मीना,NaN,12,12
1920,14,CK22,नo.,A-72 नो. प्लेट -2,प्लेट,मीना,NaN,15.5,15.5
1921,14,CK23,नo.,84- नो. प्लेट -3,प्लेट,मीना,NaN,16.75,16.75
1922,14,CK24,नo.,AAA नो. प्लेट -2,प्लेट,मीना,NaN,22.5,22.5
1923,14,CK25,नo.,N2 - सरस्वती प्लेट -2,प्लेट,मीना,NaN,23,23
1924,14,CK26,नo.,41-नो. प्लेट -2,प्लेट,मीना,NaN,23,23
1925,14,CK27,नo.,42-नो. प्लेट -2,प्लेट,मीना,NaN,24,24
1926,14,CK28,नo.,8020 नो. ऊँचा सूंड -2,गुटका,मीना,NaN,28,28
1927,14,CK29,नo.,अप्पू प्लेट -2,प्लेट,मीना,NaN,26,26
1928,14,CK30,नo.,अप्पू प्लेट -2,प्लेट,पोछा,NaN,28,28
1929,14,CK31,नo.,अप्पू सिंगल -2,गुटका,मीना,NaN,26,26
1930,14,CK32,नo.,XX5- डबल गुल्लक प्लेट -2,प्लेट,मीना,NaN,30,30
1931,14,CK33,नo.,चूका - हाथी -2,गुटका,मीना,NaN,22,22
1932,14,CK34,नo.,T-31 नो. प्लेट -2,प्लेट,मीना,NaN,25,25
1933,14,CK35,नo.,T-32 नो. प्लेट -2,प्लेट,मीना,NaN,26,26
1934,14,CK36,नo.,T-33 नो. प्लेट -2,प्लेट,मीना,NaN,25,25
1935,14,CK37,नo.,शुभ - लाभ कलश प्लेट -2,प्लेट,मीना,NaN,30,30
1936,14,CK38,नo.,न्यू कुबेर प्लेट -2,प्लेट,मीना,NaN,32,32
1937,14,CK39,नo.,7-नो. प्लेट -2,प्लेट,मीना,NaN,24,24
1938,14,CK40,नo.,502- प्लेट -2,प्लेट,पोछा,NaN,30,30
1939,14,CK41,नo.,42-नो. सिंघासन -1,सिंगल,पोछा,NaN,25,25
1940,14,CK42,नo.,A-73 नो. मंझला प्लेट -2,प्लेट,मीना,NaN,16.4,16.4
1941,14,CK43,नo.,डबल गुम्मज -1,सिंगल,हिरा मोती,NaN,110,110
1942,14,CK44,नo.,SK सोनी प्लेट -1,प्लेट,हिरा मोती,NaN,80,80
1943,14,CK45,नo.,अप्पू प्लेट -1,प्लेट,हिरा मोती,NaN,90,90
1944,14,CK46,नo.,K-01 गुम्मद -1,गुटका,हिरा मोती,NaN,100,100
1945,14,CK47,नo.,K-02 गुम्मद -1,गुटका,मीना,NaN,100,100
1946,14,CK48,नo.,D-03 नो. -1,गुटका,हिरा मोती,NaN,90,90
1947,14,CK51,नo.,77 नो. सिंघासन -1,गुटका,मीना,NaN,18,18
1948,15,CK52,नo.,A-1 नो. प्लेट -1,प्लेट,मीना,12,18.2,218.4
1949,15,CK53,नo.,छत्री प्लेट -1,प्लेट,मीना,NaN,18,18
1950,15,CK54,नo.,सरस्वती प्लेट -1,प्लेट,मीना,NaN,18,18
1951,15,CK55,नo.,सरस्वती प्लेट फैंसी -1,प्लेट,मीना,NaN,20,20
1952,15,CK56,नo.,N1- प्लेट -1,प्लेट,मीना,NaN,18,18
1953,15,CK57,नo.,N3- प्लेट -1,प्लेट,मीना,NaN,19.25,19.25
1954,15,CK58,नo.,केला प्लेट -1,प्लेट,मीना,NaN,18,18
1955,15,CK59,नo.,पत्ता प्लेट -1,प्लेट,मीना,NaN,18,18
1956,15,CK60,नo.,ॐ प्लेट -1,प्लेट,मीना,NaN,20,20
1957,15,CK61,नo.,न्यू ॐ प्लेट फैंसी -1,प्लेट,मीना,NaN,20,20
1958,15,CK62,नo.,ॐ प्लेट फैंसी -1,प्लेट,मीना,NaN,21,21
1959,16,CK63,नo.,136 नो. फैंसी प्लेट -1,प्लेट,मीना,3,22,66
1960,16,CK64,नo.,अप्पू प्लेट फैंसी -1,प्लेट,मीना,NaN,22,22
1961,16,CK65,नo.,कमल प्लेट फैंसी -1,प्लेट,मीना,NaN,22,22
1962,16,CK66,नo.,पर्ल प्लेट -1,प्लेट,मीना,NaN,12,12
1963,16,CK67,नo.,1 नो. प्लेट -1,प्लेट,मीना,NaN,12,12
1964,16,CK68,नo.,136 नो. कुबेर प्लेट फैंसी -1,प्लेट,मीना,NaN,32,32
1965,16,CK69,नo.,301 नो. कुबेर प्लेट -1,प्लेट,मीना,NaN,32,32
1966,16,CK70,नo.,मोर प्लेट -1,प्लेट,मीना,NaN,30,30
1967,16,CK71,नo.,हंस प्लेट -1,प्लेट,मीना,NaN,32,32
1968,16,CK72,नo.,06 प्लेट -1,प्लेट,मीना,NaN,32,32
1969,16,CK73,नo.,नाव प्लेट -1,प्लेट,मीना,NaN,32,32
1970,16,CK74,नo.,302- नो. प्लेट -1,प्लेट,मीना,NaN,32,32
1971,16,CK75,नo.,38 नो. प्लेट -1,प्लेट,मीना,NaN,32,32
1972,16,CK76,नo.,पत्ता प्लेट -1,प्लेट,मीना,NaN,30,30
1973,16,CK77,नo.,116 नो. प्लेट -1,प्लेट,मीना,NaN,28,28
1974,16,CK78,नo.,छत्री सिंगल -1,गुटका,मीना,NaN,28,28
1975,17,CK79,नo.,143 कुबेर प्लेट फैंसी -1,प्लेट,मीना,3,32,96
1976,17,CK80,नo.,मुंड सिंगल -1,गुटका,पोछा,NaN,25,25
1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,NaN,NaN,NaN,गणेश लक्ष्मी सस्ता,NaN,NaN,69,NaN,849.9
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,TOTAL NO PCS.,NaN,NaN,94,NaN,NaN
1982,NaN,NaN,NaN,TOTAL AMOUNT,NaN,NaN,.,NaN,1949.9
1983,NaN,NaN,NaN,(मूर्ति) दुकान,NaN,NaN,.,(+),NaN
1984,NaN,NaN,NaN,(गणेश लक्ष्मी) दुकान,NaN,NaN,.,(+),NaN
1985,NaN,NaN,NaN,LOADING CHARGE (लेबर खर्चा),NaN,NaN,.,(+),5
1986,NaN,NaN,NaN,TRANSPORTATION (गाड़ी भाड़ा),NaN,NaN,.,(+),NaN
1987,NaN,NaN,NaN,"PACKING CHARGES (कार्टून, रस्सी, नेवारी)",NaN,NaN,.,(+),70
1988,NaN,NaN,NaN,पहेले का बकाया,NaN,NaN,.,(+),NaN
1989,NaN,NaN,NaN,GRAND TOTAL/ कुल,NaN,NaN,.,NaN,2024.9
1990,NaN,NaN,NaN,ADVANCE/ अग्रिम,NaN,NaN,.,(-),NaN
1991,NaN,NaN,NaN,PAYABLE/ देय,NaN,NaN,.,NaN,2024.9
1992,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,.,NaN,NaN

TOTAL NO PCS.		
TOTAL AMOUNT 		
(मूर्ति)  दुकान		
 (गणेश लक्ष्मी)  दुकान		
LOADING CHARGE (लेबर खर्चा)		
TRANSPORTATION (गाड़ी भाड़ा)		
PACKING CHARGES (कार्टून, रस्सी, नेवारी) 		
पहेले का बकाया		
 GRAND TOTAL/ कुल 		
ADVANCE/ अग्रिम 		
PAYABLE/ देय

In [10]:
col_name = df1.keys()[3]               #name
amount_col_name = df1.keys()[8]        #All aggregations and total
piece_count_col_name = df1.keys()[6]   #no. of pcs.

In [11]:
col_name

'Unnamed: 3'

In [12]:
#Series containing the Aggregations

myseries = df1[col_name]
myseries

def find(s, el):
    for i in s.index:
        if s[i] == el: 
            return i
    return None

index = find(myseries, "TOTAL NO PCS.")
print("Finding the Index of Aggregations ....")
if(index != None):
    print(index)
else:
    print("Index Not found, check the column number !")

Finding the Index of Aggregations ....
1981

In [74]:
def build_dict(bill, df, index):
    Dictonary = {
    bill :{    
        "TOTAL NO PCS.": df[piece_count_col_name][index],		
        "TOTAL AMOUNT": df[amount_col_name][index + 1],		
        "(मूर्ति)  दुकान":	df[amount_col_name][index + 2],	
        "(गणेश लक्ष्मी)  दुकान": df[amount_col_name][index + 3],		
        "LOADING CHARGE (लेबर खर्चा)": df[amount_col_name][index + 4],		
        "TRANSPORTATION (गाड़ी भाड़ा)": df[amount_col_name][index + 5],		
        "PACKING CHARGES (कार्टून, रस्सी, नेवारी)": df[amount_col_name][index + 6], 		
        "पहेले का बकाया": df[amount_col_name][index + 7],		
        "GRAND TOTAL/ कुल": df[amount_col_name][index + 8], 		
        "ADVANCE/ अग्रिम": df[amount_col_name][index + 9], 		
        "PAYABLE/ देय": df[amount_col_name][index + 10], 
        }
    }

    return Dictonary

In [64]:
final_list = [ ["Party", "TOTAL NO PCS.", 
"TOTAL AMOUNT",	"(मूर्ति)  दुकान",	"(गणेश लक्ष्मी)  दुकान", "LOADING CHARGE (लेबर खर्चा)",		
"TRANSPORTATION (गाड़ी भाड़ा)", "PACKING CHARGES (कार्टून, रस्सी, नेवारी)", 		
"पहेले का बकाया", "GRAND TOTAL/ कुल", 		
"ADVANCE/ अग्रिम", "PAYABLE/ देय",] ]

In [66]:
def build_list(bill, df, index):
    res_list = [
        bill, 
        df[piece_count_col_name][index],		
        df[amount_col_name][index + 1],		
        df[amount_col_name][index + 2],	
        df[amount_col_name][index + 3],		
        df[amount_col_name][index + 4],		
        df[amount_col_name][index + 5],		
        df[amount_col_name][index + 6], 		
        df[amount_col_name][index + 7],		
        df[amount_col_name][index + 8], 		
        df[amount_col_name][index + 9], 		
        df[amount_col_name][index + 10], 
    ]
    return res_list;

In [67]:

for bill in tqdm(res, desc = "calculating sum of bills"):
    df = pd.read_excel(
     os.path.join(APP_PATH, "new bills", bill),             # Take both APP_NAME and folder name as Args
     engine='openpyxl')
    curr_list = build_list(bill, df, index)
    final_list.append(curr_list)

print("***********************    Calculation complete!!!    ************************************")
print("\n\n\n")

calculating sum of bills: 100%|██████████| 210/210 [01:13<00:00,  2.84it/s]

***********************    Calculation complete!!!    ************************************

In [75]:
df1.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Party :,NaN,NaN,"अखलेश चौधरी , खातिहिया , 9472253217",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Code No.,NaN,ITEM,NaN,VARIANT,QTY,PRICE,TOTAL,NaN,NaN
2,NaN,NaN,1,सरस्वती आईटम,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,B1,नo.,सरस्वती,NaN,मार्वल,NaN,22,22,NaN,NaN
4,0,B1,नo.,सरस्वती,NaN,ST,NaN,22,22,NaN,NaN
5,0,B1,नo.,सरस्वती,NaN,BW,NaN,22,22,NaN,NaN
6,0,B1,नo.,सरस्वती,NaN,BWD,NaN,22,22,NaN,NaN
7,0,S1,नo.,मोर सरस्वती पत्थर,NaN,मार्वल,NaN,62,62,NaN,NaN
8,0,S1,नo.,मोर सरस्वती पत्थर,NaN,ST,NaN,62,62,NaN,NaN
9,0,S1,नo.,मोर सरस्वती पत्थर,NaN,BW,NaN,62,62,NaN,NaN

In [ ]:
#print(final_list)

In [73]:
with open('GFG.csv', 'w',encoding="utf-8") as f:
      
    # using csv.writer method from CSV package

    fields = ['Party', 'TOTAL NO PCS.', 'TOTAL AMOUNT', '(मूर्ति)  दुकान', '(गणेश लक्ष्मी)  दुकान', 'LOADING CHARGE (लेबर खर्चा)', 'TRANSPORTATION (गाड़ी भाड़ा)', 'PACKING CHARGES (कार्टून, रस्सी, नेवारी)', 'पहेले का बकाया', 'GRAND TOTAL/ कुल', 'ADVANCE/ अग्रिम', 'PAYABLE/ देय']

    write = csv.writer(f)
    write.writerow(fields)
    write.writerows(final_list)